Repository ToposInstitute/CatColab, pull requests merged in 2024-09, with the labels that each got.

#140 Handles on notebook cells
  dev-docs/trees/dev-0005.tree
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/analysis/model_graph.tsx
  packages/frontend/src/analysis/stock_flow_diagram.tsx
  packages/frontend/src/analysis/submodel_graphs.css
  packages/frontend/src/components/completions.css
  packages/frontend/src/components/completions.tsx
  packages/frontend/src/components/icon_button.css
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/inline_input.css
  packages/frontend/src/components/inline_input.tsx
  packages/frontend/src/components/resizable.css
  packages/frontend/src/components/resizable.tsx
  packages/frontend/src/index.css
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_notebook_editor.css
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/notebook/index.ts
  packages/frontend/src/notebook/notebook_cell.css
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.css
  packages/frontend/src/notebook/notebook_editor.tsx
Labels: enhancement, frontend

#141 Format and lint CSS
  biome.json
  packages/frontend/src/components/completions.css
  packages/frontend/src/components/inline_input.css
  packages/frontend/src/components/resizable.css
  packages/frontend/src/index.css
  packages/frontend/src/model/morphism_cell_editor.css
  packages/frontend/src/stdlib/styles.module.css
  packages/frontend/src/visualization/graph_svg.css
Labels: frontend

#145 Add indicator to "choose logic" dropdown
  packages/frontend/src/model/model_notebook_editor.tsx
Labels: ui/ux

#149 Find feedback loops in regulatory networks
  packages/frontend/src/stdlib/theories.tsx
Labels: enhancement

#152 Extract and document function to safely deep copy a JSON object
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/util/deepcopy.ts
Labels: documentation, frontend

#153 Docs on double theories for companion and conjoint pairs
  dev-docs/theme/metadata.xsl
  dev-docs/theme/tree.xsl
  dev-docs/trees/dct-0008.tree
  dev-docs/trees/dct-0009.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/macros.tree
  dev-docs/trees/refs/barbrook-johnson-2022.tree
  dev-docs/trees/refs/cartesian-double-theories-2024.tree
  dev-docs/trees/refs/reg-nets-2024.tree
  dev-docs/trees/refs/shulman-2008.tree
  dev-docs/trees/thy-0008.tree
  dev-docs/trees/thy-0009.tree
Labels: documentation

#138 Move clone constraint to Category::Ob/Mor
  packages/catlog-wasm/src/theory.rs
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/graph_algorithms.rs
  packages/catlog/src/zero/column.rs
  packages/catlog/src/zero/set.rs
Labels: core

#156 Dev docs on discrete models of double theories
  dev-docs/trees/dbl-0001.tree
  dev-docs/trees/dbl-0005.tree
  dev-docs/trees/dbl-0006.tree
  dev-docs/trees/dbl-0007.tree
  dev-docs/trees/dbl-0008.tree
  dev-docs/trees/dbl-0009.tree
  dev-docs/trees/dbl-000A.tree
  dev-docs/trees/macros.tree
  dev-docs/trees/refs/double-products-2024.tree
Labels: documentation

#157 Add Evan's public key to backend config
  infrastructure/hosts/catcolab/default.nix
Labels: backend

#155 Validate morphisms between models of discrete double theories
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/stdlib/models.rs
Labels: enhancement, core

#163 Styled tooltips, take 2
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/icon_button.css
  packages/frontend/src/components/icon_button.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
Labels: enhancement, ui/ux

#162 Script to build forester plus upgrade to forester v4.3.1
  .github/workflows/deploy.yml
  dev-docs/README.md
  dev-docs/checksums.txt
  dev-docs/ci-build.sh
  dev-docs/forester
  dev-docs/theme/core.xsl
  dev-docs/theme/tree.xsl
  dev-docs/watch.sh
Labels: documentation

#114 ODE simulation in Rust core
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Cargo.lock
  packages/catlog/Cargo.toml
  packages/catlog/src/lib.rs
  packages/catlog/src/simulate/dynamic_ode.rs
  packages/catlog/src/simulate/mathexpr/compiler.rs
  packages/catlog/src/simulate/mathexpr/error.rs
  packages/catlog/src/simulate/mathexpr/eval.rs
  packages/catlog/src/simulate/mathexpr/lexer.rs
  packages/catlog/src/simulate/mathexpr/mod.rs
  packages/catlog/src/simulate/mathexpr/parser.rs
  packages/catlog/src/simulate/mathexpr/pprint.rs
  packages/catlog/src/simulate/mathexpr/span.rs
  packages/catlog/src/simulate/mathexpr/syntax.rs
  packages/catlog/src/simulate/mathexpr/token.rs
  packages/catlog/src/simulate/mod.rs
  packages/catlog/src/stdlib/analyses/mod.rs
  packages/catlog/src/stdlib/analyses/stock_flow.rs
  packages/catlog/src/stdlib/mod.rs
Labels: enhancement, core

#158 Make backend more robust
  infrastructure/hosts/catcolab/catcolab.nix
  infrastructure/secrets/DATABASE_URL.age
  infrastructure/secrets/instrument.mjs.age
  infrastructure/secrets/secrets.nix
  package-lock.json
  packages/backend/package.json
  packages/backend/src/server.ts
Labels: enhancement, backend

#164 Notebooks that reference each other
  package-lock.json
  packages/backend/migrations/04_create_table_externs.sql
  packages/backend/migrations/04_create_table_externs.undo.sql
  packages/backend/package.json
  packages/backend/src/links.ts
  packages/backend/src/persistence.test.ts
  packages/backend/src/persistence.ts
  packages/backend/src/queries.sql
  packages/backend/src/queries.ts
  packages/backend/src/server.ts
  packages/frontend/.env.development
  packages/frontend/.env.production
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/api.ts
  packages/frontend/src/document/analysis_document_editor.tsx
  packages/frontend/src/document/index.ts
  packages/frontend/src/document/model_document_editor.css
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/document/types.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/model/context.ts
  packages/frontend/src/model/index.ts
  packages/frontend/src/model/model_analyzer.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/model/types.ts
  packages/frontend/src/stdlib/context.ts
  packages/frontend/src/stdlib/index.ts
  packages/frontend/src/stdlib/types.ts
  packages/frontend/src/util/automerge_solid.ts
  packages/frontend/src/util/indexing.ts
  packages/frontend/src/visualization/graphviz.ts
  packages/frontend/tsconfig.json
Labels: enhancement, frontend, backend

#166 Set up Netlify redirects for a single-page app
  packages/frontend/netlify.toml
Labels: frontend

#167 Second attempt to set up Netlify redirects for SPA
  .github/workflows/deploy.yml
  packages/frontend/netlify.toml
Labels: frontend

#170 Lotka-Volterra ODE semantics for reg nets/causal loop diagrams
  Cargo.lock
  package-lock.json
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/analyses.rs
  packages/catlog-wasm/src/lib.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/Cargo.toml
  packages/catlog/src/simulate/dynamic_ode.rs
  packages/catlog/src/simulate/mod.rs
  packages/catlog/src/simulate/ode/dynamic.rs
  packages/catlog/src/simulate/ode/lotka_volterra.rs
  packages/catlog/src/simulate/ode/mod.rs
  packages/catlog/src/stdlib/analyses/mod.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/catlog/src/stdlib/analyses/ode/mod.rs
  packages/catlog/src/stdlib/analyses/ode/stock_flow.rs
  packages/frontend/package.json
  packages/frontend/src/analysis/index.ts
  packages/frontend/src/analysis/lotka_volterra.tsx
  packages/frontend/src/analysis/model_graph.tsx
  packages/frontend/src/analysis/simulation.css
  packages/frontend/src/analysis/stock_flow_diagram.tsx
  packages/frontend/src/analysis/submodel_graphs.tsx
  packages/frontend/src/analysis/types.ts
  packages/frontend/src/components/fixed_table_editor.css
  packages/frontend/src/components/fixed_table_editor.tsx
  packages/frontend/src/components/foldable.css
  packages/frontend/src/components/foldable.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/document/analysis_document_editor.tsx
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/notebook/notebook_cell.css
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/visualization/echarts.ts
  packages/frontend/src/visualization/index.ts
  packages/frontend/src/visualization/ode_plot.tsx
Labels: enhancement, frontend, core

#171 Prevent tree-shaking from breaking `echarts`
  packages/frontend/src/visualization/echarts.ts
Labels: bug, frontend

#172 Use Dormand-Prince method to solve ODEs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/simulate/ode/mod.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
Labels: enhancement, core

#174 Use Topos logo as favicon
  packages/frontend/index.html
  packages/frontend/public/topos_icon.png
Labels: enhancement, ui/ux

#176 Platform-independent watch script for forester
  dev-docs/watch.sh
Labels: documentation

#177 Mathematical bibliography in dev docs and improvements to README
  README.md
  dev-docs/trees/acsets-2022.tree
  dev-docs/trees/bib-0001.tree
  dev-docs/trees/bib-0002.tree
  dev-docs/trees/bib-0003.tree
  dev-docs/trees/dct-0003.tree
  dev-docs/trees/dct-0006.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/refs/alg-databases-2017.tree
  dev-docs/trees/refs/ologs-2012.tree
  dev-docs/trees/refs/stock-flow-2023.tree
  packages/catlog/src/refs.rs
  packages/catlog/src/stdlib/theories.rs
Labels: documentation

#178 Don't assume Lotka-Volterra interaction coefficients are set in frontend
  packages/catlog-wasm/src/lib.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/frontend/src/index.tsx
Labels: bug, core

#180 Enforce `noUncheckedIndexedAccess` in TypeScript
  package-lock.json
  packages/backend/src/persistence.ts
  packages/frontend/package.json
  packages/frontend/src/analysis/lotka_volterra.tsx
  packages/frontend/src/analysis/submodel_graphs.tsx
  packages/frontend/src/components/completions.tsx
  packages/frontend/src/components/fixed_table_editor.tsx
  packages/frontend/src/components/rich_text_editor.tsx
  packages/frontend/src/document/analysis_document_editor.tsx
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/model/id_input.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/stdlib/styles.module.css.d.ts
  packages/frontend/src/stdlib/svg_styles.module.css.d.ts
  packages/frontend/src/visualization/graphviz.ts
  packages/frontend/src/visualization/ode_plot.tsx
  packages/frontend/tsconfig.json
Labels: bug, frontend

#181 Gracefully handle errors from ODE simulation
  packages/catlog-wasm/src/analyses.rs
  packages/catlog-wasm/src/lib.rs
  packages/catlog-wasm/src/result.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/catlog/src/stdlib/analyses/ode/mod.rs
  packages/frontend/src/analysis/lotka_volterra.tsx
  packages/frontend/src/analysis/simulation.css
  packages/frontend/src/visualization/ode_plot.tsx
Labels: bug, frontend, core

#183 MDX support and user documentation infrastructure
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/document/analysis_document_editor.tsx
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/help/help_button.tsx
  packages/frontend/src/help/help_page.css
  packages/frontend/src/help/help_page.tsx
  packages/frontend/src/help/index.ts
  packages/frontend/src/help/pages/credits.mdx
  packages/frontend/src/help/pages/index.mdx
  packages/frontend/src/index.css
  packages/frontend/vite.config.ts
Labels: documentation, enhancement, frontend

#191 Reusable toolbar component with basic branding
  packages/frontend/src/App.tsx
  packages/frontend/src/document/analysis_document_editor.tsx
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/help/credits.mdx
  packages/frontend/src/help/help_button.tsx
  packages/frontend/src/help/help_page.tsx
  packages/frontend/src/help/index.mdx
  packages/frontend/src/help/index.ts
  packages/frontend/src/index.css
  packages/frontend/src/page/help_page.css
  packages/frontend/src/page/help_page.tsx
  packages/frontend/src/page/index.ts
  packages/frontend/src/page/toolbar.css
  packages/frontend/src/page/toolbar.tsx
Labels: enhancement, frontend

#192 Don't ask for type of missing object when validating a model
  packages/catlog-wasm/src/model.rs
  packages/catlog/src/dbl/model.rs
Labels: bug, core

#193 Don't run Lotka-Volterra ODE simulation when diagram is empty
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/catlog/src/stdlib/analyses/ode/mod.rs
Labels: bug, core

#194 Don't send edges with missing source/target to Graphviz
  packages/frontend/src/analysis/model_graph.tsx
Labels: bug, frontend

#195 Don't use `light-dark` feature in CSS
  packages/frontend/src/document/model_document_editor.css
  packages/frontend/src/index.css
  packages/frontend/src/model/morphism_cell_editor.css
Labels: bug, frontend

#196 Make "Untitled" be placeholder text rather then default document name
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/document/types.ts
Labels: frontend, ui/ux

#197 Make sure to hide completions menu when inline input loses focus
  packages/frontend/src/components/inline_input.tsx
Labels: bug, frontend

#198 Don't show "Loading..." text in frontend
  packages/frontend/src/App.tsx
  packages/frontend/src/document/analysis_document_editor.tsx
  packages/frontend/src/document/model_document_editor.tsx
Labels: frontend, ui/ux

#199 Replace "Analyses" pane with button to create an analysis
  packages/frontend/src/document/model_document_editor.tsx
Labels: frontend

#200 Components for warning and error alerts
  packages/catlog-wasm/src/theories.rs
  packages/frontend/src/components/alert.css
  packages/frontend/src/components/alert.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/help/credits.mdx
  packages/frontend/src/help/index.mdx
  packages/frontend/src/visualization/ode_plot.tsx
Labels: documentation, frontend

#201 Overview of concepts behind CatColab in user docs
  packages/frontend/src/analysis/simulation.css
  packages/frontend/src/help/index.mdx
  packages/frontend/src/page/help_page.css
Labels: documentation
