Repository ToposInstitute/CatColab, pull requests merged in 2024-07, with the labels that each got.

#23 Pop-up menu to create new cells
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/model/model_context.ts
  frontend/src/model/model_editor.tsx
  frontend/src/model/morphism_cell_editor.tsx
  frontend/src/model/object_cell_editor.tsx
  frontend/src/notebook/command.css
  frontend/src/notebook/command.tsx
  frontend/src/notebook/inline_input.tsx
  frontend/src/notebook/notebook_editor.css
  frontend/src/notebook/notebook_editor.tsx
  frontend/src/notebook/rich_text_editor.tsx
Labels: enhancement, frontend

#25 Integrate notebook frontend with discrete double theories
  catlog/src/dbl/theory.rs
  catlog/src/one/fin_category.rs
  catlog/src/stdlib/theories.rs
  frontend/catlog-wasm/.gitignore
  frontend/catlog-wasm/Cargo.toml
  frontend/catlog-wasm/README.md
  frontend/catlog-wasm/src/lib.rs
  frontend/catlog-wasm/src/theories.rs
  frontend/catlog-wasm/src/theory.rs
  frontend/catlog-wasm/tests/web.rs
  frontend/netlify.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/model/model_context.ts
  frontend/src/model/model_editor.css
  frontend/src/model/model_editor.tsx
  frontend/src/model/morphism_cell_editor.css
  frontend/src/model/morphism_cell_editor.tsx
  frontend/src/model/object_cell_editor.css
  frontend/src/model/object_cell_editor.tsx
  frontend/src/model/types.ts
  frontend/src/notebook/command.css
  frontend/src/notebook/command.tsx
  frontend/src/notebook/inline_input.css
  frontend/src/notebook/inline_input.tsx
  frontend/src/notebook/notebook_editor.css
  frontend/src/notebook/notebook_editor.tsx
  frontend/src/notebook/rich_text_editor.tsx
  frontend/src/notebook/types.ts
  frontend/src/theory/index.ts
  frontend/src/theory/theories.ts
  frontend/src/theory/types.ts
  frontend/src/util/indexed_map.ts
  frontend/src/util/indexing.ts
  sandbox/wasm-test/package-lock.json
  sandbox/wasm-test/wasm-test/Cargo.lock
Labels: enhancement, frontend, core

#27 Improvements to command popover
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/command.css
  frontend/src/components/command.tsx
  frontend/src/model/model_editor.tsx
  frontend/src/notebook/notebook_editor.css
  frontend/src/notebook/notebook_editor.tsx
Labels: enhancement, frontend

#28 Visualize generators of model as a graph
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/model/index.ts
  frontend/src/model/model_editor.tsx
  frontend/src/model/model_graph.ts
  frontend/src/model/model_notebook_editor.css
  frontend/src/model/model_notebook_editor.tsx
  frontend/src/model/morphism_cell_editor.tsx
  frontend/src/model/object_cell_editor.css
  frontend/src/model/object_cell_editor.tsx
  frontend/src/model/types.ts
  frontend/src/theory/styles.module.css
  frontend/src/theory/svg_styles.module.css
  frontend/src/theory/theories.ts
  frontend/src/theory/types.ts
  frontend/src/visualization/graph_layout.ts
  frontend/src/visualization/graph_svg.css
  frontend/src/visualization/graph_svg.tsx
  frontend/src/visualization/graphviz.ts
  frontend/src/visualization/graphviz_json.ts
  frontend/src/visualization/graphviz_svg.tsx
  frontend/src/visualization/index.ts
  frontend/src/visualization/types.ts
  frontend/vite.config.ts
Labels: enhancement, frontend

#29 New appproach to exposing Rust data types through `wasm-bindgen`
  catlog/Cargo.toml
  catlog/src/dbl/theory.rs
  catlog/src/one/fin_category.rs
  catlog/src/one/path.rs
  catlog/src/stdlib/theories.rs
  frontend/catlog-wasm/Cargo.toml
  frontend/catlog-wasm/src/theories.rs
  frontend/catlog-wasm/src/theory.rs
  frontend/src/model/model_editor.tsx
  frontend/src/model/model_graph.ts
  frontend/src/model/model_notebook_editor.tsx
  frontend/src/model/morphism_cell_editor.tsx
  frontend/src/model/object_cell_editor.tsx
  frontend/src/model/types.ts
  frontend/src/theory/theories.ts
  frontend/src/theory/types.ts
Labels: frontend, core

#33 Models of discrete double theories in core
  catlog/Cargo.toml
  catlog/src/dbl/mod.rs
  catlog/src/dbl/model.rs
  catlog/src/dbl/theory.rs
  catlog/src/one/category.rs
  catlog/src/one/fin_category.rs
  catlog/src/one/graph.rs
  catlog/src/one/mod.rs
  catlog/src/one/path.rs
Labels: enhancement, core

#38 Build dev docs in CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  dev-docs/theme/LICENSES/CC0-1.0.txt
  dev-docs/theme/LICENSES/MIT.txt
  dev-docs/theme/LICENSES/OFL-1.1.txt
  dev-docs/theme/core.xsl
  dev-docs/theme/custom.css
  dev-docs/theme/forester.js
  dev-docs/theme/metadata.xsl
  dev-docs/theme/package-lock.json
  dev-docs/theme/style.css
  dev-docs/theme/tree.xsl
  scripts/dev-docs.sh
  scripts/package-lock.json
  scripts/package.json
Labels: documentation

#39 Wasm bindings for models of discrete double theories
  catlog/src/dbl/model.rs
  catlog/src/lib.rs
  catlog/src/one/category.rs
  catlog/src/one/fin_category.rs
  catlog/src/one/graph.rs
  catlog/src/stdlib/theories.rs
  catlog/src/zero/column.rs
  frontend/catlog-wasm/Cargo.toml
  frontend/catlog-wasm/src/lib.rs
  frontend/catlog-wasm/src/model.rs
  frontend/catlog-wasm/src/theories.rs
  frontend/catlog-wasm/src/theory.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/model/model_context.ts
  frontend/src/model/model_graph.ts
  frontend/src/model/model_notebook_editor.tsx
  frontend/src/model/morphism_cell_editor.tsx
  frontend/src/model/object_cell_editor.tsx
  frontend/src/model/types.ts
  frontend/src/notebook/types.ts
  frontend/src/theory/types.ts
Labels: frontend, core

#40 Add typescript and rust API docs to website
  .github/workflows/deploy.yml
  .gitignore
  dev-docs/trees/dev-0001.tree
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
Labels: documentation

#42 CI for catlog-wasm
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  frontend/catlog-wasm/src/lib.rs
  frontend/catlog-wasm/src/model.rs
  frontend/catlog-wasm/src/theories.rs
  frontend/catlog-wasm/src/theory.rs
Labels: frontend

#55 Validate models of discrete double theories in core
  catlog/src/dbl/diagram.rs
  catlog/src/dbl/model.rs
  catlog/src/one/fin_category.rs
  catlog/src/one/graph.rs
  catlog/src/one/path.rs
  catlog/src/zero/column.rs
  catlog/src/zero/set.rs
  frontend/catlog-wasm/src/model.rs
  frontend/package.json
  frontend/src/model/model_editor.tsx
  frontend/src/model/model_graph.ts
  frontend/src/model/model_notebook_editor.tsx
Labels: enhancement, core

#56 Use `Suspense` rather than `Show` when loading Graphviz
  frontend/src/visualization/graph_svg.tsx
  frontend/src/visualization/graphviz_svg.tsx
Labels: frontend

#59 Show model validation errors in frontend by underlining
  catlog/src/dbl/computad.rs
  catlog/src/dbl/diagram.rs
  catlog/src/dbl/model.rs
  catlog/src/one/fin_category.rs
  catlog/src/one/graph.rs
  catlog/src/one/path.rs
  catlog/src/validate.rs
  catlog/src/zero/column.rs
  frontend/catlog-wasm/Cargo.toml
  frontend/catlog-wasm/src/model.rs
  frontend/src/components/inline_input.css
  frontend/src/components/inline_input.tsx
  frontend/src/components/rich_text_editor.tsx
  frontend/src/model/model_context.ts
  frontend/src/model/model_graph.ts
  frontend/src/model/model_notebook_editor.tsx
  frontend/src/model/morphism_cell_editor.tsx
  frontend/src/model/object_cell_editor.tsx
  frontend/src/util/indexing.ts
  frontend/src/visualization/graphviz.ts
Labels: enhancement, frontend

#57 Stem cells and choosebox
  Cargo.toml
  package-lock.json
  package.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/command.css
  packages/frontend/src/components/command.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/inline_input.css
  packages/frontend/src/components/inline_input.tsx
  packages/frontend/src/index.css
  packages/frontend/src/notebook/notebook_editor.css
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/notebook/types.ts
  packages/frontend/tsconfig.app.json
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
Labels: enhancement, frontend, ui/ux

#65 Show cell kind in right hand column
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/notebook/notebook_editor.css
  packages/frontend/src/notebook/notebook_editor.tsx
Labels: enhancement, frontend, ui/ux

#72 Dev docs on tabulators
  dev-docs/assets/quiver.sty
  dev-docs/theme/custom.css
  dev-docs/theme/style.css
  dev-docs/theme/tree.xsl
  dev-docs/trees/dbl-0001.tree
  dev-docs/trees/dbl-0002.tree
  dev-docs/trees/dbl-0003.tree
  dev-docs/trees/dct-0003.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/macros.tree
  dev-docs/trees/refs/grandis-2019.tree
  dev-docs/trees/thy-0003.tree
Labels: documentation

#75 Moved release profile settings to top-level Cargo.toml
  Cargo.toml
  packages/catlog-wasm/Cargo.toml
Labels: core

#74 Update the link to forester binary
  dev-docs/ci-build.sh
Labels: documentation

#76 Discrete tabulator theories in core
  Cargo.lock
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/theories.rs
Labels: enhancement, core

#92 Improve build instructions in README
  README.md
  package.json
  packages/frontend/README.md
Labels: documentation
