Repository ToposInstitute/CatColab, pull requests merged in 2024-12, with the labels that each got.

#280 Upgrade to `qubit` v0.10.2 and `ts_rs` v10.1.0
  Cargo.lock
  packages/backend/Cargo.toml
  packages/backend/pkg/index.ts
  packages/backend/pkg/package.json
  packages/backend/pkg/src/index.ts
  packages/backend/pkg/src/serde_json/JsonValue.ts
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/user/permissions.tsx
Labels: frontend, backend

#283 Improved Decapodes integration: domains, meshes, initial conditions, plot variables
  packages/algjulia-service/Project.toml
  packages/algjulia-service/src/AlgebraicJuliaService.jl
  packages/algjulia-service/src/decapodes-service/DecapodesService.jl
  packages/algjulia-service/src/decapodes-service/geometry.jl
  packages/algjulia-service/src/decapodes-service/initial_conditions.jl
  packages/algjulia-service/src/decapodes-service/model.jl
  packages/algjulia-service/src/decapodes-service/ns_helper.jl
  packages/algjulia-service/src/decapodes-service/theory.jl
  packages/algjulia-service/src/decapodes.jl
  packages/algjulia-service/test/Project.toml
  packages/algjulia-service/test/runtests.jl
  packages/algjulia-service/test/test_jsons/diffusion_data.json
  packages/algjulia-service/test/test_jsons/diffusion_data_twovars.json
  packages/algjulia-service/test/test_jsons/diffusion_long_trip.json
  packages/algjulia-service/test/test_jsons/diffusivity_constant.json
  packages/algjulia-service/test/test_jsons/example.json
  packages/algjulia-service/test/test_jsons/ns_vorticity.json
  packages/catlog/src/simulate/ode/dynamic.rs
  packages/catlog/src/stdlib/analyses/ode/stock_flow.rs
  packages/frontend/src/components/fixed_table_editor.tsx
  packages/frontend/src/stdlib/analyses/decapodes.css
  packages/frontend/src/stdlib/analyses/decapodes.tsx
  packages/frontend/src/stdlib/analyses/lotka_volterra.tsx
  packages/frontend/src/visualization/pde_plot.tsx
Labels: enhancement, frontend, external

#285 Reactive helpers for Jupyter kernels
  packages/frontend/src/stdlib/analyses/decapodes.tsx
  packages/frontend/src/stdlib/analyses/jupyter.ts
Labels: external

#287 Reorganize code in AlgebraicJulia service
  packages/algjulia-service/src/AlgebraicJuliaService.jl
  packages/algjulia-service/src/decapodes-service/DecapodesService.jl
  packages/algjulia-service/src/decapodes-service/diagram.jl
  packages/algjulia-service/src/decapodes-service/initial_conditions.jl
  packages/algjulia-service/src/decapodes-service/model.jl
  packages/algjulia-service/src/decapodes-service/simulation.jl
  packages/algjulia-service/src/decapodes-service/theory.jl
  packages/algjulia-service/test/runtests.jl
Labels: external

#292 Models of discrete tabulator theories in core
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/models.rs
Labels: enhancement, core

#294 Validate models of discrete tabulator theories
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/catlog/src/stdlib/analyses/ode/stock_flow.rs
  packages/catlog/src/stdlib/models.rs
Labels: enhancement, core

#295 Wasm bindings for models of discrete tabulator theories
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/dbl/theory.rs
  packages/frontend/src/model/document.ts
Labels: enhancement, frontend, core

#289 Script to build sys image for AlgebraicJulia service
  packages/algjulia-service/.gitignore
  packages/algjulia-service/Project.toml
  packages/algjulia-service/README.md
  packages/algjulia-service/jupyter_server.sh
  packages/algjulia-service/make_sysimage.jl
  packages/algjulia-service/sysimage_precompile.jl
  packages/frontend/src/stdlib/analyses/jupyter.ts
Labels: enhancement, external

#300 Remove redundant mesh parameter in Decapodes interop
  packages/algjulia-service/src/decapodes-service/geometry.jl
  packages/algjulia-service/src/decapodes-service/simulation.jl
Labels: external

#278 Button to get help about the active theory
  packages/frontend/src/App.tsx
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/help/theory/olog.mdx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/page/help_page.tsx
  packages/frontend/src/page/toolbar.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/types.ts
  packages/frontend/src/theory/types.ts
Labels: documentation, enhancement, frontend

#305 Duplicate a cell via cell popup menu
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/types.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/types.ts
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/notebook/types.ts
  packages/frontend/src/util/deepcopy.ts
Labels: enhancement, frontend, ui/ux

#307 Auto-generated summary of theory in theory-specific help page
  packages/frontend/src/App.tsx
  packages/frontend/src/help/theory/olog.mdx
  packages/frontend/src/page/help_page.tsx
  packages/frontend/src/page/toolbar.tsx
  packages/frontend/src/stdlib/help.tsx
  packages/frontend/src/stdlib/types.ts
  packages/frontend/src/theory/help.tsx
  packages/frontend/src/theory/types.ts
Labels: documentation, enhancement, frontend

#309 Document-level menus for models, diagrams, and analyses
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/diagram_menu.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/page/index.ts
  packages/frontend/src/page/menubar.css
  packages/frontend/src/page/menubar.tsx
  packages/frontend/src/stdlib/theories.tsx
Labels: enhancement, frontend

#310 Menu items to duplicate models and diagrams
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/analysis/context.ts
  packages/frontend/src/diagram/context.ts
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/diagram_menu.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/diagram/morphism_cell_editor.tsx
  packages/frontend/src/diagram/object_cell_editor.tsx
  packages/frontend/src/diagram/object_input.tsx
  packages/frontend/src/model/context.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/morphism_input.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/page/menubar.tsx
Labels: enhancement, frontend
