Repository ToposInstitute/CatColab, pull requests merged in 2024-10, with the labels that each got.

#203 Switch from `npm` to `pnpm`
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .netlify-env/package-lock.json
  .netlify-env/pnpm-lock.yaml
  .netlify-env/pnpm-workspace.yaml
  .npmrc
  README.md
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/pnpm-lock.yaml
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: bug, frontend, backend

#218 Upgrade to `automerge-prosemirror` v0.0.13
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/components/rich_text_editor.tsx
Labels: frontend

#220 Upgrade to `babel-plugin-jsx-dom-expressions` v0.39.2
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
Labels: bug, frontend

#215 Cell menu items to move cell up or down
  packages/frontend/src/components/completions.tsx
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
Labels: enhancement, frontend

#175 Dev docs comparing (bi)modules over models of double theories
  dev-docs/README.md
  dev-docs/trees/dbl-0001.tree
  dev-docs/trees/dbl-000B.tree
  dev-docs/trees/dbl-000C.tree
  dev-docs/trees/dct-000A.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/macros.tree
  dev-docs/trees/refs/acsets-2022.tree
  dev-docs/trees/refs/pisani-2024.tree
  dev-docs/trees/thy-000A.tree
Labels: documentation

#226 Horizontal scrollbar in content panels
  packages/frontend/src/index.css
Labels: enhancement, ui/ux

#227 Causal loop diagrams with unknown link polarities
  packages/frontend/src/model/morphism_cell_editor.css
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/types.ts
Labels: enhancement, frontend

#232 Remove broken linear path in layout for links in stock-flow diagrams
  packages/frontend/README.md
  packages/frontend/src/analysis/stock_flow_diagram.tsx
Labels: bug, frontend

#234 Set Vite mode when building frontend for staging deployment
  .github/workflows/deploy.yml
  packages/frontend/.env.staging
Labels: frontend
