Repository ToposInstitute/CatColab, pull requests merged in 2024-08, with the labels that each got.

#93 Wasm bindings for discrete tabulator theories
  Cargo.lock
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog-wasm/src/theory.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/stdlib/theories.rs
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/theory/theories.ts
  packages/frontend/src/theory/types.ts
Labels: enhancement, frontend

#95 Link to demo and dev docs in README
  README.md
Labels: documentation

#96 Stock and flow diagrams in the frontend
  package-lock.json
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog-wasm/src/theory.rs
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/one/path.rs
  packages/frontend/package.json
  packages/frontend/src/model/id_input.tsx
  packages/frontend/src/model/model_context.ts
  packages/frontend/src/model/model_graph.ts
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/model/morphism_cell_editor.css
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/notebook/types.ts
  packages/frontend/src/theory/svg_styles.module.css
  packages/frontend/src/theory/theories.ts
  packages/frontend/src/theory/types.ts
  packages/frontend/src/visualization/graph_layout.ts
  packages/frontend/src/visualization/graph_svg.css
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/types.ts
Labels: enhancement, frontend

#98 Custom visualization for stock-flow diagrams
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/morphism_cell_editor.css
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/stdlib/index.ts
  packages/frontend/src/stdlib/styles.module.css
  packages/frontend/src/stdlib/svg_styles.module.css
  packages/frontend/src/stdlib/theories.ts
  packages/frontend/src/stdlib/visualizations/index.ts
  packages/frontend/src/stdlib/visualizations/model_graph.tsx
  packages/frontend/src/stdlib/visualizations/stock_flow_diagram.tsx
  packages/frontend/src/theory/index.ts
  packages/frontend/src/theory/types.ts
  packages/frontend/src/visualization/graph_svg.css
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/graphviz.ts
  packages/frontend/src/visualization/index.ts
Labels: enhancement, frontend

#101 Upgrade `tsify-next` to v0.5.4
  Cargo.lock
  packages/catlog-wasm/Cargo.lock
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/model.rs
  packages/catlog/Cargo.lock
Labels: frontend

#102 Causal loop diagrams
  packages/frontend/src/model/morphism_cell_editor.css
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/stdlib/theories.ts
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/types.ts
Labels: enhancement, frontend

#103 Data structure for morphisms between models of discrete double theories
  .github/workflows/deploy.yml
  packages/catlog/src/dbl/mod.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/path.rs
Labels: enhancement, core

#105 References in docs for `catlog`
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/dbl/pasting.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/lib.rs
  packages/catlog/src/refs.rs
Labels: documentation, core

#62 Backend integrating Automerge sync server with Postgres
  .github/workflows/deploy.yml
  biome.json
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/dev-000A.tree
  dev-docs/trees/dev-000B.tree
  dev-docs/trees/dev-000C.tree
  dev-docs/trees/dev-000D.tree
  dev-docs/trees/dev-000E.tree
  dev-docs/trees/dev-000F.tree
  infrastructure/.envrc
  infrastructure/.gitignore
  infrastructure/flake.lock
  infrastructure/flake.nix
  infrastructure/hosts/catcolab/catcolab.nix
  infrastructure/hosts/catcolab/default.nix
  infrastructure/lib/attrs.nix
  infrastructure/lib/default.nix
  infrastructure/lib/modules.nix
  infrastructure/lib/utils.nix
  infrastructure/secrets/DATABASE_URL.age
  infrastructure/secrets/secrets.nix
  infrastructure/shell/default.nix
  package-lock.json
  package.json
  packages/backend/.gitignore
  packages/backend/README.md
  packages/backend/migrations/01_create_table_snapshots.sql
  packages/backend/migrations/01_create_table_snapshots.undo.sql
  packages/backend/migrations/02_create_table_refs.sql
  packages/backend/migrations/02_create_table_refs.undo.sql
  packages/backend/migrations/03_enable_pgcrypto.sql
  packages/backend/migrations/03_enable_pgcrypto.undo.sql
  packages/backend/package.json
  packages/backend/pgtyped.config.json
  packages/backend/src/database_url.ts
  packages/backend/src/index.ts
  packages/backend/src/migrate.ts
  packages/backend/src/migration.ts
  packages/backend/src/persistence.test.ts
  packages/backend/src/persistence.ts
  packages/backend/src/queries.sql
  packages/backend/src/queries.ts
  packages/backend/src/server.ts
  packages/backend/src/teardown.ts
  packages/backend/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/api.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/vite.config.ts
Labels: enhancement, backend

#108 Notes on discrete models
  dev-docs/trees/dbl-0001.tree
  dev-docs/trees/dbl-0002.tree
  dev-docs/trees/dbl-0003.tree
  dev-docs/trees/dbl-0004.tree
  dev-docs/trees/dbl-0005.tree
  dev-docs/trees/dbl-0006.tree
  dev-docs/trees/dbl-0007.tree
  dev-docs/trees/dbl-0008.tree
  dev-docs/trees/dbl-0009.tree
  dev-docs/trees/dct-0003.tree
  dev-docs/trees/dct-0006.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/dev-000A.tree
  dev-docs/trees/macros.tree
  dev-docs/trees/thy-0003.tree
  dev-docs/trees/thy-0006.tree
Labels: documentation

#106 Morphism search for free models of discrete double theories
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/graph_algorithms.rs
  packages/catlog/src/one/mod.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/mod.rs
  packages/catlog/src/stdlib/models.rs
  packages/catlog/src/stdlib/theories.rs
  packages/catlog/src/zero/column.rs
  packages/catlog/src/zero/set.rs
  packages/frontend/src/stdlib/theories.ts
Labels: enhancement, core

#109 Doctrine of nullable signed categories
  Cargo.lock
  dev-docs/trees/dct-0002.tree
  dev-docs/trees/dct-0007.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/refs/barbrook-johnson-2022.tree
  dev-docs/trees/refs/grandis-2013-homological.tree
  dev-docs/trees/refs/reg-nets-2024.tree
  dev-docs/trees/thy-0007.tree
  packages/catlog-wasm/src/theories.rs
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/refs.rs
  packages/catlog/src/stdlib/theories.rs
Labels: documentation, enhancement, core

#121 Wasm bindings for finding positive/negative loops
  Cargo.lock
  packages/catlog-wasm/src/lib.rs
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog-wasm/src/theory.rs
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/models.rs
  packages/frontend/src/stdlib/theories.ts
  packages/frontend/src/theory/types.ts
Labels: enhancement, frontend

#122 Interface to browse feedback loops in causal loop diagrams
  package-lock.json
  packages/catlog-wasm/src/lib.rs
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/frontend/package.json
  packages/frontend/src/components/icon_button.css
  packages/frontend/src/components/icon_button.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/inline_input.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/model/types.ts
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/views/index.ts
  packages/frontend/src/stdlib/views/model_graph.tsx
  packages/frontend/src/stdlib/views/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/views/submodel_graphs.css
  packages/frontend/src/stdlib/views/submodel_graphs.tsx
  packages/frontend/src/theory/types.ts
  packages/frontend/src/visualization/graph_svg.tsx
Labels: enhancement, frontend

#124 Implement `Eq` trait for double models and dependencies
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/zero/column.rs
  packages/catlog/src/zero/set.rs
Labels: enhancement, core

#128 Lazy load double theories in the frontend
  packages/frontend/src/App.tsx
  packages/frontend/src/model/model_context.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/stdlib/index.ts
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/types.ts
  packages/frontend/src/stdlib/views/model_graph.tsx
  packages/frontend/src/stdlib/views/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/views/submodel_graphs.tsx
  packages/frontend/src/theory/types.ts
Labels: enhancement, frontend

#130 New cell button at end of notebook
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/notebook/notebook_editor.css
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/notebook/types.ts
Labels: enhancement, frontend, ui/ux

#132 Indicate minimum Rust version in Cargo.toml
  packages/catlog/Cargo.toml
Labels: bug, core

#134 Add missing readme step, correct server error
  README.md
  packages/frontend/src/App.tsx
Labels: documentation, frontend

#136 Set backend host in Vite dev environment
  .github/workflows/deploy.yml
  README.md
  packages/frontend/.env.development
  packages/frontend/.env.production
Labels: backend

#118 Refactor the trait interface for finitely generated things
  .github/workflows/ci.yml
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog-wasm/src/theory.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/models.rs
  packages/catlog/src/stdlib/theories.rs
  packages/catlog/src/zero/column.rs
Labels: core

#135 Notebook interface for analyzing models
  packages/frontend/.env.development
  packages/frontend/.env.production
  packages/frontend/src/App.tsx
  packages/frontend/src/analysis/index.ts
  packages/frontend/src/analysis/model_graph.tsx
  packages/frontend/src/analysis/stock_flow_diagram.tsx
  packages/frontend/src/analysis/submodel_graphs.css
  packages/frontend/src/analysis/submodel_graphs.tsx
  packages/frontend/src/analysis/types.ts
  packages/frontend/src/model/model_analyzer.tsx
  packages/frontend/src/model/model_context.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_notebook_editor.tsx
  packages/frontend/src/model/morphism_cell_editor.css
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/types.ts
  packages/frontend/src/notebook/notebook_editor.css
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/views/submodel_graphs.tsx
  packages/frontend/src/theory/types.ts
  packages/frontend/src/visualization/index.ts
Labels: enhancement, frontend
