Repository ToposInstitute/CatColab, pull requests merged in 2024-11, with the labels that each got.

#204 Check monicity of free simple model morphisms, initialize hom search, monic search constraint
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/graph_algorithms.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/analyses/ode/stock_flow.rs
Labels: enhancement, core

#225 Selection widget for theories
  packages/frontend/src/document/model_document_editor.tsx
  packages/frontend/src/document/theory_selector.css
  packages/frontend/src/document/theory_selector.tsx
  packages/frontend/src/index.css
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/types.ts
Labels: enhancement, frontend, ui/ux

#249 Tweak names, descriptions, and groups of theories
  packages/frontend/src/document/theory_selector.css
  packages/frontend/src/document/theory_selector.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/types.ts
Labels: documentation, frontend

#257 Double theory for diagrammatic equations with unary operations
  package.json
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/stdlib/theories.tsx
Labels: enhancement, frontend

#248 Diagrams in models of discrete double theories
  packages/catlog/src/dbl/mod.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/simulate/mathexpr/pprint.rs
Labels: enhancement, core

#259 Validate diagrams in models of discrete double theories
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
Labels: enhancement, core

#261 Wasm bindings for diagrams for discrete theories, and frontend integration
  Cargo.lock
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/diagram.rs
  packages/catlog-wasm/src/lib.rs
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog-wasm/src/result.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog-wasm/src/theory.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/graph.rs
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/components/inline_input.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/diagram/morphism_cell_editor.tsx
  packages/frontend/src/diagram/object_cell_editor.tsx
  packages/frontend/src/diagram/object_input.tsx
  packages/frontend/src/diagram/types.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/morphism_input.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/model/types.ts
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/stdlib/analyses/lotka_volterra.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/util/focus.ts
Labels: enhancement, frontend

#262 Upgrade `ode_solvers` crate to v0.5
  Cargo.lock
  packages/catlog/Cargo.toml
Labels: core

#258 Export SVG for model visualizations
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/stdlib/analyses/base_styles.module.css
  packages/frontend/src/stdlib/analyses/base_styles.module.css.d.ts
  packages/frontend/src/stdlib/analyses/model_graph.tsx
  packages/frontend/src/stdlib/analyses/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.css
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/visualization/export_svg.ts
  packages/frontend/src/visualization/export_svg_components.tsx
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/graphviz_svg.tsx
  packages/frontend/src/visualization/index.ts
  packages/frontend/src/visualization/types.ts
Labels: enhancement, frontend

#264 Analyses for diagrams in models
  packages/frontend/src/App.tsx
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/analysis/context.ts
  packages/frontend/src/analysis/document.ts
  packages/frontend/src/analysis/index.ts
  packages/frontend/src/analysis/types.ts
  packages/frontend/src/api/context.ts
  packages/frontend/src/api/document.ts
  packages/frontend/src/api/types.ts
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/stdlib/analyses/lotka_volterra.tsx
  packages/frontend/src/stdlib/analyses/model_graph.tsx
  packages/frontend/src/stdlib/analyses/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/theory/types.ts
  packages/frontend/src/user/login.tsx
Labels: enhancement, frontend

#265 Visualize diagrams in models using Graphviz
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/stdlib/analyses/diagram_graph.tsx
  packages/frontend/src/stdlib/analyses/graph.ts
  packages/frontend/src/stdlib/analyses/index.ts
  packages/frontend/src/stdlib/analyses/model_graph.tsx
  packages/frontend/src/stdlib/analyses/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/theory/types.ts
Labels: enhancement, frontend

#268 Replace/remove a few type aliases for IDs
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/theory_selector.tsx
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/types.ts
  packages/frontend/src/stdlib/types.ts
  packages/frontend/src/theory/types.ts
Labels: frontend

#270 Anonymous objects in diagrams
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/stdlib/models.rs
  packages/frontend/src/components/id_input.css
  packages/frontend/src/components/id_input.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/inline_input.css
  packages/frontend/src/components/inline_input.tsx
  packages/frontend/src/components/name_input.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/diagram/morphism_cell_editor.tsx
  packages/frontend/src/diagram/object_cell_editor.tsx
  packages/frontend/src/diagram/object_input.tsx
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/morphism_input.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/stdlib/analyses/diagram_graph.tsx
  packages/frontend/src/stdlib/analyses/graph_visualization.css
  packages/frontend/src/stdlib/analyses/graph_visualization.ts
  packages/frontend/src/stdlib/analyses/lotka_volterra.tsx
  packages/frontend/src/stdlib/analyses/model_graph.tsx
  packages/frontend/src/stdlib/analyses/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/util/indexing.ts
  packages/frontend/src/visualization/graphviz_svg.tsx
Labels: enhancement, frontend, core

#273 Render empty model name as Untitled in backlinks
  packages/frontend/src/diagram/diagram_editor.tsx
Labels: bug, frontend

#267 Run Decapodes simulation via Julia kernel in Jupyter
  packages/algjulia-service/.gitignore
  packages/algjulia-service/Project.toml
  packages/algjulia-service/README.md
  packages/algjulia-service/src/AlgebraicJuliaService.jl
  packages/algjulia-service/src/decapodes.jl
  packages/algjulia-service/src/kernel_support.jl
  packages/algjulia-service/src/test/Project.toml
  packages/algjulia-service/test/Project.toml
  packages/algjulia-service/test/diffusion_data.json
  packages/algjulia-service/test/runtests.jl
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/stdlib/analyses/decapodes.tsx
  packages/frontend/src/stdlib/analyses/index.ts
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/visualization/index.ts
  packages/frontend/src/visualization/ode_plot.tsx
  packages/frontend/src/visualization/pde_plot.tsx
Labels: enhancement, frontend, external

#275 Send Decapodes judgments after type inference and validation
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/diagram/types.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/types.ts
  packages/frontend/src/stdlib/analyses/decapodes.tsx
Labels: frontend, external

#274 Categories with scalars
  packages/algjulia-service/src/decapodes.jl
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/stdlib/theories.rs
  packages/frontend/src/stdlib/analyses/graph_visualization.css
  packages/frontend/src/stdlib/arrow_styles.module.css
  packages/frontend/src/stdlib/arrow_styles.module.css.d.ts
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/types.ts
Labels: enhancement, frontend, core

#277 UI to edit scalar constants in Decapodes analysis
  packages/frontend/src/components/foldable.css
  packages/frontend/src/components/foldable.tsx
  packages/frontend/src/index.css
  packages/frontend/src/stdlib/analyses/base_styles.module.css
  packages/frontend/src/stdlib/analyses/decapodes.tsx
Labels: enhancement, frontend, external

#279 Anon objects, scalar constants, and more DEC operators in Decapodes integration
  packages/algjulia-service/src/decapodes.jl
  packages/algjulia-service/src/test/Project.toml
  packages/algjulia-service/test/Project.toml
  packages/algjulia-service/test/diffusion_long_trip.json
  packages/algjulia-service/test/diffusivity_constant.json
  packages/algjulia-service/test/example.json
  packages/algjulia-service/test/runtests.jl
  packages/frontend/src/stdlib/analyses/decapodes.tsx
Labels: enhancement, external
