Repository ToposInstitute/CatColab, pull requests merged in 2025-01, with the labels that each got.

#312 Help page with list of all theories
  README.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/icon_button.css
  packages/frontend/src/diagram/diagram_menu.tsx
  packages/frontend/src/help/help_container.css
  packages/frontend/src/help/help_container.tsx
  packages/frontend/src/help/index.mdx
  packages/frontend/src/help/routes.ts
  packages/frontend/src/help/theories.mdx
  packages/frontend/src/help/theories.tsx
  packages/frontend/src/help/theory.tsx
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/model/theory_selector.tsx
  packages/frontend/src/page/common_menu.tsx
  packages/frontend/src/page/help_page.tsx
  packages/frontend/src/page/index.ts
  packages/frontend/src/page/toolbar.tsx
  packages/frontend/src/stdlib/help.tsx
  packages/frontend/src/stdlib/types.ts
  packages/frontend/src/theory/help.tsx
  packages/frontend/src/util/mdx.tsx
Labels: documentation, enhancement, frontend

#313 Menu item to log in or log out
  packages/frontend/src/components/dialog.css
  packages/frontend/src/components/dialog.tsx
  packages/frontend/src/diagram/diagram_menu.tsx
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/page/common_menu.tsx
  packages/frontend/src/page/index.ts
  packages/frontend/src/page/menubar.tsx
  packages/frontend/src/user/login.css
  packages/frontend/src/user/login.tsx
Labels: enhancement, frontend

#316 Models in the frontend always have a specified theory
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/stdlib/theories.rs
  packages/frontend/src/App.tsx
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/morphism_cell_editor.tsx
  packages/frontend/src/diagram/object_cell_editor.tsx
  packages/frontend/src/help/theories.mdx
  packages/frontend/src/help/theory.tsx
  packages/frontend/src/help/theory/empty.mdx
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/theory_selector.tsx
  packages/frontend/src/page/toolbar.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/stdlib/types.ts
Labels: frontend, core

#322 Causal loop diagrams with delays
  dev-docs/trees/dct-000B.tree
  dev-docs/trees/dev-0001.tree
  dev-docs/trees/thy-000B.tree
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/stdlib/models.rs
  packages/catlog/src/stdlib/theories.rs
  packages/frontend/src/stdlib/arrow_styles.module.css
  packages/frontend/src/stdlib/arrow_styles.module.css.d.ts
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/visualization/graph_layout.ts
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/graphviz.ts
  packages/frontend/src/visualization/types.ts
Labels: enhancement, frontend, core

#325 Fix wrong placement of caesuras when multiple graphs share edges
  packages/frontend/src/visualization/graph_layout.ts
  packages/frontend/src/visualization/graph_svg.tsx
  packages/frontend/src/visualization/graphviz.ts
Labels: bug, visualization

#317 Usernames in backend and frontend
  Cargo.lock
  packages/backend/.sqlx/query-2e3cf08872135c4ec43da8a7d4d1a45cc245fa1581929213c658c2157989b64f.json
  packages/backend/.sqlx/query-3e2b3e63a36ffa59ce60f8df19157edc1dfcee0d876d4b0c22c2db24feee6a3c.json
  packages/backend/.sqlx/query-84f34c3f761dbab809edf2af4104e533a26a50310c90d340fdd90d64683b6b55.json
  packages/backend/.sqlx/query-a80368dbf3e74206cdbe08744b1d46924d0731475384201d7f2ddaf51e8e3644.json
  packages/backend/.sqlx/query-a8934c50209e48af661186c7d1c2ff8d8f23b4d05f1a7f5783baf74165f464f1.json
  packages/backend/Cargo.toml
  packages/backend/pkg/src/UserProfile.ts
  packages/backend/pkg/src/UsernameStatus.ts
  packages/backend/pkg/src/index.ts
  packages/backend/src/app.rs
  packages/backend/src/rpc.rs
  packages/backend/src/user.rs
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/App.tsx
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/api/document_rpc.test.ts
  packages/frontend/src/api/test_util.ts
  packages/frontend/src/api/user_rpc.test.ts
  packages/frontend/src/components/form.css
  packages/frontend/src/components/form.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/diagram/morphism_cell_editor.tsx
  packages/frontend/src/diagram/types.ts
  packages/frontend/src/help/help_container.css
  packages/frontend/src/help/help_container.tsx
  packages/frontend/src/index.css
  packages/frontend/src/model/types.ts
  packages/frontend/src/notebook/types.ts
  packages/frontend/src/page/menubar.tsx
  packages/frontend/src/page/toolbar.tsx
  packages/frontend/src/user/login.css
  packages/frontend/src/user/login.tsx
  packages/frontend/src/user/profile.tsx
Labels: enhancement, frontend, backend

#328 Distinguish icons for different kinds of help
  packages/frontend/src/page/menubar.tsx
Labels: documentation, ui/ux

#329 Duration parameter for Decapodes simulations
  packages/algjulia-service/src/decapodes-service/simulation.jl
  packages/algjulia-service/test/runtests.jl
  packages/algjulia-service/test/test_jsons/diffusion_long_trip.json
  packages/algjulia-service/test/test_jsons/diffusivity_constant.json
  packages/algjulia-service/test/test_jsons/ns_vorticity.json
  packages/frontend/src/stdlib/analyses/decapodes.tsx
Labels: enhancement, frontend, external

#331 Nix configuration, scripts and documentation for automerge and backend services
  .gitignore
  dev-docs/trees/dev-000A.tree
  infrastructure/flake.nix
  infrastructure/hosts/catcolab-next/backend.nix
  infrastructure/hosts/catcolab-next/default.nix
  infrastructure/hosts/catcolab/default.nix
  infrastructure/scripts/build.sh
  infrastructure/scripts/initdb.sh
  infrastructure/scripts/migrate.sh
  infrastructure/scripts/restart.sh
  infrastructure/scripts/start.sh
  infrastructure/scripts/status.sh
  infrastructure/scripts/stop.sh
  infrastructure/secrets/.env.age
  infrastructure/secrets/DATABASE_URL.age
  infrastructure/secrets/instrument.mjs.age
  infrastructure/secrets/secrets.nix
  packages/automerge-doc-server/package.json
  packages/automerge-doc-server/src/server.ts
  packages/automerge-doc-server/src/socket.ts
Labels: backend

#330 Share documents on per-user basis
  biome.json
  packages/backend/.sqlx/query-14c82c9f06291225cb18ac804907a5d49f15d7fc57538b6438d13ed98665d6c8.json
  packages/backend/.sqlx/query-3e715aa995094feff20f8254dfd27323844efa31ece5d40ce8778122687cdefc.json
  packages/backend/.sqlx/query-513719212b96e260e9c4ce840f716b1b6cb43563371fb35f9677fcf949827363.json
  packages/backend/.sqlx/query-c28089f061f8d1442acfb1ee1bf4d9bb51fedeb1689a5e0139d684db471adb01.json
  packages/backend/.sqlx/query-cca19c531258c9500e4c27e139d15f8bfea54d7fd1b08728debfcacd5de174b4.json
  packages/backend/.sqlx/query-cd63d277bd2ae2905790e11cddb4b9bcb5b56e952b854a75dc724e1c253afcf5.json
  packages/backend/.sqlx/query-e8ce719df718056d0e767eef937b4c7e4bc8669b8d385e734d5b29a4f39cac47.json
  packages/backend/.sqlx/query-eea510d03cc559aa11d46aafe38f57789f5c2e791800f78a751602cc8336c84f.json
  packages/backend/migrations/20241025030906_users.up.sql
  packages/backend/pkg/src/NewPermissions.ts
  packages/backend/pkg/src/NewRef.ts
  packages/backend/pkg/src/Permissions.ts
  packages/backend/pkg/src/UserPermissions.ts
  packages/backend/pkg/src/UserProfile.ts
  packages/backend/pkg/src/UserSummary.ts
  packages/backend/pkg/src/index.ts
  packages/backend/src/auth.rs
  packages/backend/src/document.rs
  packages/backend/src/rpc.rs
  packages/backend/src/user.rs
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/analysis/document.ts
  packages/frontend/src/api/document_rpc.test.ts
  packages/frontend/src/api/user_rpc.test.ts
  packages/frontend/src/components/form.css
  packages/frontend/src/components/form.tsx
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/user/login.tsx
  packages/frontend/src/user/permissions.css
  packages/frontend/src/user/permissions.tsx
  packages/frontend/src/user/profile.tsx
  packages/frontend/src/user/username.css
  packages/frontend/src/user/username.tsx
Labels: enhancement, frontend, backend

#336 Remove `mathexpr` module for now
  packages/catlog/src/simulate/mathexpr/compiler.rs
  packages/catlog/src/simulate/mathexpr/error.rs
  packages/catlog/src/simulate/mathexpr/eval.rs
  packages/catlog/src/simulate/mathexpr/lexer.rs
  packages/catlog/src/simulate/mathexpr/mod.rs
  packages/catlog/src/simulate/mathexpr/parser.rs
  packages/catlog/src/simulate/mathexpr/pprint.rs
  packages/catlog/src/simulate/mathexpr/span.rs
  packages/catlog/src/simulate/mathexpr/syntax.rs
  packages/catlog/src/simulate/mathexpr/token.rs
  packages/catlog/src/simulate/mod.rs
  packages/catlog/src/simulate/ode/dynamic.rs
  packages/catlog/src/simulate/ode/mod.rs
  packages/catlog/src/stdlib/analyses/ode/mod.rs
  packages/catlog/src/stdlib/analyses/ode/stock_flow.rs
Labels: core

#337 Upgrade wasm-bindgen and fix new lint
  Cargo.lock
  packages/catlog-wasm/Cargo.toml
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/one/graph.rs
Labels: frontend, core

#338 Polynomials and polynomial parameterized dynamical systems
  Cargo.lock
  packages/catlog/Cargo.toml
  packages/catlog/src/lib.rs
  packages/catlog/src/refs.rs
  packages/catlog/src/simulate/ode/lotka_volterra.rs
  packages/catlog/src/simulate/ode/mod.rs
  packages/catlog/src/simulate/ode/polynomial.rs
  packages/catlog/src/zero/alg.rs
  packages/catlog/src/zero/mod.rs
  packages/catlog/src/zero/rig.rs
Labels: enhancement, core

#354 Bibliography link doesn't work in staging deployment
  packages/frontend/src/App.tsx
  packages/frontend/src/help/credits.mdx
Labels: bug, frontend

#355 Update credits page for v0.2 release
  packages/frontend/src/help/credits.mdx
Labels: documentation

#367 More specific text in menu item for user profile settings
  packages/frontend/src/page/menubar.tsx
Labels: ui/ux

#368 Add "New model" action to default application menu
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/page/menubar.tsx
  packages/frontend/src/page/toolbar.tsx
Labels: enhancement, ui/ux

#369 Standardize base types for documents and links between them
  packages/frontend/src/App.tsx
  packages/frontend/src/analysis/document.ts
  packages/frontend/src/api/context.ts
  packages/frontend/src/api/document.ts
  packages/frontend/src/api/types.ts
  packages/frontend/src/diagram/diagram_menu.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_menu.tsx
Labels: frontend
