Repository ToposInstitute/CatColab, pull requests merged in 2025-07, with the labels that each got.

#556 Submodules for double doctrines
  packages/catlog/src/dbl/discrete/mod.rs
  packages/catlog/src/dbl/discrete/model.rs
  packages/catlog/src/dbl/discrete/model_diagram.rs
  packages/catlog/src/dbl/discrete/model_morphism.rs
  packages/catlog/src/dbl/discrete/theory.rs
  packages/catlog/src/dbl/discrete_tabulator/mod.rs
  packages/catlog/src/dbl/discrete_tabulator/model.rs
  packages/catlog/src/dbl/discrete_tabulator/theory.rs
  packages/catlog/src/dbl/mod.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/one/mod.rs
  packages/catlog/src/simulate/mod.rs
  packages/catlog/src/zero/mod.rs
Labels: core

#561 Modal double theories in core
  Cargo.lock
  packages/catlog-wasm/Cargo.toml
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/category.rs
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/discrete/model.rs
  packages/catlog/src/dbl/discrete/theory.rs
  packages/catlog/src/dbl/graph.rs
  packages/catlog/src/dbl/mod.rs
  packages/catlog/src/dbl/modal/mod.rs
  packages/catlog/src/dbl/modal/theory.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/dbl/tree.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/computad.rs
  packages/catlog/src/one/fp_category.rs
  packages/catlog/src/one/functor.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/mod.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/theories.rs
  packages/catlog/src/zero/column.rs
Labels: enhancement, core

#566 Single-character typo
  packages/frontend/src/components/rich_text_editor/rich_text_editor.tsx
Labels: ui/ux

#578 Remove redundant type defs and complete notebook-types refactor
  packages/catlog-wasm/src/lib.rs
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog-wasm/src/notation.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog-wasm/src/theory.rs
  packages/notebook-types/src/v0/theory.rs
Labels: bug, frontend

#580 Models of modal double theories in core
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/discrete/model.rs
  packages/catlog/src/dbl/discrete_tabulator/model.rs
  packages/catlog/src/dbl/modal/mod.rs
  packages/catlog/src/dbl/modal/model.rs
  packages/catlog/src/dbl/modal/theory.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/tree.rs
  packages/catlog/src/one/computad.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/one/tree.rs
  packages/catlog/src/stdlib/theories.rs
  packages/catlog/src/zero/column.rs
Labels: enhancement, core

#584 Completions match within string
  packages/frontend/src/components/completions.tsx
Labels: enhancement, frontend, ui/ux

#588 Drop indicator for dragging cells
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/notebook/notebook_cell.css
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
Labels: enhancement, frontend, ui/ux

#597 Editor for lists of objects, with application to Petri nets
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog-wasm/src/result.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog-wasm/src/theory.rs
  packages/catlog/src/dbl/modal/model.rs
  packages/catlog/src/dbl/modal/theory.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/stdlib/theories.rs
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/components/id_input.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/inline_input.tsx
  packages/frontend/src/components/input_options.ts
  packages/frontend/src/diagram/morphism_cell_editor.tsx
  packages/frontend/src/diagram/object_cell_editor.tsx
  packages/frontend/src/model/morphism_cell_editor.tsx
  packages/frontend/src/model/object_cell_editor.tsx
  packages/frontend/src/model/object_input.tsx
  packages/frontend/src/model/object_list_editor.css
  packages/frontend/src/model/object_list_editor.tsx
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/theory/types.ts
  packages/frontend/src/util/focus.ts
  packages/notebook-types/src/v0/model.rs
  packages/notebook-types/src/v0/theory.rs
Labels: enhancement, frontend

#600 Visualize Petri nets using Graphviz
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/model.rs
  packages/catlog/src/dbl/modal/model.rs
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/components/inline_input.css
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/object_list_editor.css
  packages/frontend/src/stdlib/analyses/diagram_graph.tsx
  packages/frontend/src/stdlib/analyses/graph_visualization.css
  packages/frontend/src/stdlib/analyses/index.ts
  packages/frontend/src/stdlib/analyses/model_graph.tsx
  packages/frontend/src/stdlib/analyses/petri_net_visualization.tsx
  packages/frontend/src/stdlib/analyses/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/svg_styles.module.css
  packages/frontend/src/stdlib/svg_styles.module.css.d.ts
  packages/frontend/src/stdlib/theories.tsx
Labels: enhancement, frontend, visualization

#560 Run NixOS integration tests in CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  README.md
  flake.lock
  flake.nix
  infrastructure/hosts/catcolab-next/default.nix
  infrastructure/hosts/catcolab-vm/default.nix
  infrastructure/hosts/catcolab/default.nix
  infrastructure/modules/backend.nix
  infrastructure/modules/catcolab/backup.nix
  infrastructure/modules/catcolab/default.nix
  infrastructure/modules/catcolab/host.nix
  infrastructure/modules/catcolab/services.nix
  infrastructure/modules/host.nix
  infrastructure/secrets/example-secrets.env
  packages/automerge-doc-server/default.nix
Labels: backend

#601 Mass-action ODE semantics for Petri nets
  Cargo.lock
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/theories.rs
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/modal/model.rs
  packages/catlog/src/refs.rs
  packages/catlog/src/simulate/ode/mod.rs
  packages/catlog/src/simulate/ode/polynomial.rs
  packages/catlog/src/stdlib/analyses/ode/linear_ode.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/catlog/src/stdlib/analyses/ode/mass_action.rs
  packages/catlog/src/stdlib/analyses/ode/mod.rs
  packages/catlog/src/stdlib/analyses/ode/signed_coefficients.rs
  packages/catlog/src/stdlib/models.rs
  packages/catlog/src/zero/alg.rs
  packages/catlog/src/zero/rig.rs
  packages/frontend/src/stdlib/theories.tsx
  packages/notebook-types/Cargo.toml
Labels: enhancement, frontend, core

#617 Validate models of modal double theories
  packages/catlog/src/dbl/modal/model.rs
Labels: enhancement, core

#625 Allow vertical scrolling in theory selector
  packages/frontend/src/model/theory_selector.css
Labels: enhancement, ui/ux

#603 Migrate notebook format to support cell reordering
  Cargo.lock
  Cargo.nix
  Cargo.toml
  flake.lock
  flake.nix
  infrastructure/modules/catcolab/services.nix
  packages/automerge-doc-server/default.nix
  packages/automerge-doc-server/package.json
  packages/automerge-doc-server/pnpm-lock.yaml
  packages/automerge-doc-server/src/server.ts
  packages/backend/README.md
  packages/backend/default.nix
  packages/backend/pkg/src/index.ts
  packages/catlog-wasm/package.json
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/analysis/document.ts
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/notebook/notebook_cell.tsx
  packages/frontend/src/notebook/notebook_editor.tsx
  packages/frontend/src/notebook/types.ts
  packages/migrator/default.nix
  packages/notebook-types/Cargo.toml
  packages/notebook-types/README.md
  packages/notebook-types/default.nix
  packages/notebook-types/examples/v0/An Example Instance.json
  packages/notebook-types/examples/v1/An Example Instance.json
  packages/notebook-types/examples/v1/CA Cap-and-trade.json
  packages/notebook-types/examples/v1/SEIRV.json
  packages/notebook-types/examples/v1/Sustainable Peace.json
  packages/notebook-types/examples/v1/The Ontology of CatColab.json
  packages/notebook-types/package.json
  packages/notebook-types/src/bin/migrate_examples.rs
  packages/notebook-types/src/lib.rs
  packages/notebook-types/src/test_utils.rs
  packages/notebook-types/src/v0/mod.rs
  packages/notebook-types/src/v0/notebook.rs
  packages/notebook-types/src/v1/document.rs
  packages/notebook-types/src/v1/mod.rs
  packages/notebook-types/src/v1/notebook.rs
  rust-toolchain.toml
Labels: enhancement, frontend

#645 Automatically clean up old NixOS generations
  infrastructure/modules/catcolab/host.nix
Labels: enhancement, backend

#647 Skip diffing+patching if no document migration occurred
  packages/automerge-doc-server/src/server.ts
  packages/frontend/src/api/document.ts
Labels: frontend, backend

#646 Replace `Theory` by `TheoryMeta` in `TheoryHelpButton`
  packages/frontend/src/model/theory_selector.tsx
  packages/frontend/src/page/document_loading_screen.tsx
  packages/frontend/src/page/toolbar.tsx
Labels: frontend

#651 Fix title of model being needlessly cut off
  packages/frontend/src/model/model_editor.css
Labels: bug, ui/ux
