Repository ToposInstitute/CatColab, pull requests merged in 2025-02, with the labels that each got.

#371 Nix config for daily backup of database
  infrastructure/hosts/catcolab-next/backend.nix
  infrastructure/hosts/catcolab/backend.nix
  infrastructure/scripts/backup.sh
  infrastructure/secrets/rclone.conf.age
  infrastructure/secrets/secrets.nix
Labels: enhancement, backend

#372 Remove Sentry from Automerge doc server and Nix config
  infrastructure/hosts/catcolab-next/backend.nix
  infrastructure/hosts/catcolab/backend.nix
  infrastructure/secrets/instrument.mjs.age
  infrastructure/secrets/secrets.nix
  packages/automerge-doc-server/package.json
  packages/automerge-doc-server/pnpm-lock.yaml
  packages/automerge-doc-server/src/server.ts
Labels: backend

#352 Warning for incomplete signup form submission
  packages/frontend/src/components/form.css
  packages/frontend/src/user/login.tsx
Labels: bug, ui/ux

#373 Individual READMEs for the backend and frontend packages
  .devcontainer/README.md
  README.md
  packages/automerge-doc-server/README.md
  packages/backend/README.md
  packages/frontend/README.md
Labels: documentation, frontend, backend

#386 More idiomatic phrasing for general access permissions
  packages/frontend/src/user/permissions.tsx
Labels: ui/ux

#389 Help pages for all theories
  packages/frontend/README.md
  packages/frontend/src/help/theory.tsx
  packages/frontend/src/help/theory/causal-loop-delays.mdx
  packages/frontend/src/help/theory/causal-loop.mdx
  packages/frontend/src/help/theory/indeterminate-causal-loop.mdx
  packages/frontend/src/help/theory/olog.mdx
  packages/frontend/src/help/theory/reg-net.mdx
  packages/frontend/src/help/theory/schema.mdx
  packages/frontend/src/help/theory/stock-flow.mdx
  packages/frontend/src/help/theory/unary-dec.mdx
  packages/frontend/src/stdlib/theories.tsx
Labels: documentation

#390 Expose basic graph layout options in frontend
  packages/frontend/src/components/form.css
  packages/frontend/src/components/form.tsx
  packages/frontend/src/index.css
  packages/frontend/src/model/model_editor.css
  packages/frontend/src/model/theory_selector.tsx
  packages/frontend/src/stdlib/analyses/diagram_graph.tsx
  packages/frontend/src/stdlib/analyses/graph_visualization.ts
  packages/frontend/src/stdlib/analyses/graph_visualization.tsx
  packages/frontend/src/stdlib/analyses/model_graph.tsx
  packages/frontend/src/stdlib/analyses/stock_flow_diagram.tsx
  packages/frontend/src/stdlib/theories.tsx
  packages/frontend/src/user/permissions.tsx
  packages/frontend/src/user/profile.tsx
Labels: enhancement, frontend, visualization

#397 Have menu bar float with scroll in model
  packages/frontend/src/page/toolbar.css
Labels: enhancement, ui/ux

#400 Help page for quick introduction
  packages/frontend/src/help/quick_intro.mdx
  packages/frontend/src/help/routes.ts
Labels: documentation

#399 Mitigate failed test cleanups by logging in if the user already exists
  packages/frontend/src/api/document_rpc.test.ts
  packages/frontend/src/api/test_util.ts
  packages/frontend/src/api/user_rpc.test.ts
  packages/frontend/src/util/test_util.ts
Labels: bug, frontend

#405 Link to quick intro from main help page
  packages/frontend/src/help/index.mdx
Labels: documentation

#398 Show an error message when unauthorized access is attempted
  packages/frontend/src/App.tsx
  packages/frontend/src/api/document.ts
  packages/frontend/src/util/errors.css
  packages/frontend/src/util/errors.tsx
Labels: frontend, ui/ux, tactical

#301 Dev docs on free models of double theories
  dev-docs/trees/dbl-0001.tree
  dev-docs/trees/dbl-000C.tree
  dev-docs/trees/dbl-000D.tree
  dev-docs/trees/dbl-000E.tree
  dev-docs/trees/dbl-000F.tree
  dev-docs/trees/dbl-000G.tree
  dev-docs/trees/dbl-000H.tree
  dev-docs/trees/dbl-000I.tree
  dev-docs/trees/macros.tree
  dev-docs/trees/refs/baez-pollard-2017.tree
Labels: documentation, math

#419 Option to bound length of paths considered by morphism finder
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/graph_algorithms.rs
  packages/frontend/src/components/form.tsx
  packages/frontend/src/stdlib/analyses/submodel_graphs.tsx
  packages/frontend/src/stdlib/theories.tsx
Labels: bug, enhancement, frontend, core

#332 Import/export JSON for models and diagrams
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/components/json_import.css
  packages/frontend/src/components/json_import.tsx
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/diagram_menu.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/model/model_menu.tsx
  packages/frontend/src/page/import.tsx
  packages/frontend/src/page/live_document_menu.tsx
  packages/frontend/src/page/menubar.tsx
  packages/frontend/src/util/assert_exhaustive.ts
  packages/frontend/src/util/json_export.ts
Labels: enhancement, frontend, external

#422 Page container and reorganized menubar
  packages/frontend/src/App.tsx
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/page/context.ts
  packages/frontend/src/page/document_menu.tsx
  packages/frontend/src/page/import_document.tsx
  packages/frontend/src/page/index.ts
  packages/frontend/src/page/menubar.tsx
  packages/frontend/src/page/page_container.tsx
Labels: frontend, ui/ux

#423 Use app-wide form components for JSON import
  packages/frontend/src/components/form.css
  packages/frontend/src/components/form.tsx
  packages/frontend/src/components/json_import.css
  packages/frontend/src/components/json_import.tsx
Labels: frontend, ui/ux

#425 Upgrade to 2024 edition of Rust
  .github/workflows/ci.yml
  packages/backend/Cargo.toml
  packages/backend/src/main.rs
  packages/backend/src/rpc.rs
  packages/backend/src/user.rs
  packages/catlog-wasm/Cargo.toml
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog-wasm/src/model_morphism.rs
  packages/catlog-wasm/src/theories.rs
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_diagram.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/stdlib/analyses/ode/lotka_volterra.rs
  packages/catlog/src/stdlib/analyses/ode/mass_action.rs
  packages/catlog/src/stdlib/models.rs
  packages/catlog/src/zero/column.rs
Labels: frontend, core, backend

#428 Toward virtual double categories: some traits and data structures
  Cargo.lock
  packages/catlog/Cargo.toml
  packages/catlog/src/dbl/category.rs
  packages/catlog/src/dbl/computad.rs
  packages/catlog/src/dbl/diagram.rs
  packages/catlog/src/dbl/graph.rs
  packages/catlog/src/dbl/mod.rs
  packages/catlog/src/dbl/model.rs
  packages/catlog/src/dbl/model_morphism.rs
  packages/catlog/src/dbl/pasting.rs
  packages/catlog/src/dbl/theory.rs
  packages/catlog/src/dbl/theory_next.rs
  packages/catlog/src/dbl/tree.rs
  packages/catlog/src/lib.rs
  packages/catlog/src/one/category.rs
  packages/catlog/src/one/fin_category.rs
  packages/catlog/src/one/graph.rs
  packages/catlog/src/one/path.rs
  packages/catlog/src/refs.rs
  packages/catlog/src/zero/column.rs
  packages/catlog/src/zero/directories/mod.rs
  packages/catlog/src/zero/directories/paths.rs
  packages/catlog/src/zero/mod.rs
Labels: enhancement, core
