Repository ToposInstitute/CatColab, pull requests merged in 2025-09, with the labels that each got.

#706 Upgrade `uuid` crate to v1.12+ and `getrandom` to v0.3
  .github/workflows/deploy.yml
  Cargo.lock
  packages/catlog-wasm/.cargo/config.toml
  packages/catlog-wasm/Cargo.toml
  packages/catlog/Cargo.toml
  packages/notebook-types/Cargo.toml
Labels: frontend, core

#725 Ensure stable order of object/morphism generators and plot variables
  Cargo.lock
  packages/catlog-wasm/src/model.rs
  packages/catlog-wasm/src/model_diagram.rs
  packages/catlog/Cargo.toml
  packages/catlog/src/zero/set.rs
  packages/frontend/src/stdlib/analyses/simulation.ts
  packages/frontend/src/visualization/ode_plot.tsx
Labels: bug, core, visualization

#722 Generate `catlog` models from doublett types
  Cargo.lock
  packages/catlog/Cargo.toml
  packages/catlog/examples/test.dbltt
  packages/catlog/examples/test.dbltt.snapshot
  packages/catlog/src/tt/batch.rs
  packages/catlog/src/tt/elab.rs
  packages/catlog/src/tt/eval.rs
  packages/catlog/src/tt/mod.rs
  packages/catlog/src/tt/modelgen.rs
  packages/catlog/src/tt/toplevel.rs
Labels: enhancement, core

#731 FIX: Cargo warning from patched dependency
  packages/backend/Cargo.toml
Labels: backend

#733 Fix link to example model for ologs
  packages/frontend/src/help/guide/example-models.mdx
Labels: bug, documentation

#670 Add dialog with suggestion to duplicate view-only model
  packages/frontend/src/api/duplicate_document.ts
  packages/frontend/src/components/form.css
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/page/document_menu.tsx
  packages/frontend/src/user/permissions.css
  packages/frontend/src/user/permissions.tsx
Labels: enhancement, frontend, ui/ux

#734 Improve error when `FIREBASE_PROJECT_ID` is unset
  packages/backend/src/main.rs
Labels: backend

#736 Math docs for the double theory of fibrations
  math-docs/trees/dct-000C.tree
  math-docs/trees/mat-0001.tree
  math-docs/trees/thy-000C.tree
Labels: documentation, math

#743 Remove lingering type defs for links from frontend
  packages/backend/src/document.rs
  packages/frontend/src/analysis/document.ts
  packages/frontend/src/api/types.ts
  packages/frontend/src/components/json_import.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/page/document_menu.tsx
  packages/frontend/src/page/import_document.tsx
  packages/notebook-types/src/v0/api.rs
  packages/notebook-types/src/v0/document.rs
Labels: frontend

#744 Store ref ID in generic `LiveDoc` type rather than `Live[*]Document` types
  packages/frontend/src/analysis/analysis_editor.tsx
  packages/frontend/src/analysis/document.ts
  packages/frontend/src/api/document.ts
  packages/frontend/src/api/duplicate_document.ts
  packages/frontend/src/api/types.ts
  packages/frontend/src/diagram/diagram_editor.tsx
  packages/frontend/src/diagram/document.ts
  packages/frontend/src/model/document.ts
  packages/frontend/src/model/model_editor.tsx
  packages/frontend/src/page/document_breadcrumbs.tsx
  packages/frontend/src/page/document_menu.tsx
  packages/frontend/src/page/import_document.tsx
  packages/frontend/src/user/permissions.tsx
Labels: frontend

#727 DoubleTT elaboration for notebooks
  Cargo.lock
  packages/catlog/Cargo.toml
  packages/catlog/examples/test.dbltt
  packages/catlog/examples/test.dbltt.snapshot
  packages/catlog/examples/weighted_graph.json
  packages/catlog/src/tt/batch.rs
  packages/catlog/src/tt/context.rs
  packages/catlog/src/tt/eval.rs
  packages/catlog/src/tt/mod.rs
  packages/catlog/src/tt/modelgen.rs
  packages/catlog/src/tt/notebook_elab.rs
  packages/catlog/src/tt/prelude.rs
  packages/catlog/src/tt/stx.rs
  packages/catlog/src/tt/text_elab.rs
  packages/catlog/src/tt/util/dtry.rs
  packages/catlog/src/tt/util/row.rs
  packages/catlog/src/tt/val.rs
  packages/catlog/src/zero/qualified.rs
Labels: enhancement, core
